# Database (PostgreSQL VPS)
DATABASE_URL="postgresql://zhev:password@localhost:5432/e_posyandu"

# NextAuth v5
AUTH_SECRET="generate-dengan: openssl rand -base64 32"
AUTH_URL="https://e-posyandu-lebak.duckdns.org"
NEXTAUTH_URL="https://e-posyandu-lebak.duckdns.org"

# Cron Job Protection
CRON_SECRET="generate-random-string-minimum-32-chars"

# App URL (untuk link di email)
APP_URL="https://e-posyandu-lebak.duckdns.org"

# Email (Resend SMTP) — isi SMTP_PASS untuk aktifkan notifikasi
SMTP_HOST="smtp.resend.com"
SMTP_PORT="587"
SMTP_USER="resend"
SMTP_PASS=""
SMTP_FROM="noreply@resend.dev"
